body {
    margin: 0;
    font-family: "Funnel Sans", sans-serif;
}

@font-face {
    font-family: "Funnel Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/FunnelSans-VariableFont_wght.ttf") format("truetype");
}

#app {
    height: 100vh;
}
